#selector {
  background-image: url('../../library/assets/img/login.jpeg');
  background-size: cover;
  background-position: top center;
  position: absolute;
  width: 100%;
}

.header {
  background: linear-gradient(60deg, #2f3542, #2f3542);
  width: 100%;
  height: 60px;
  padding: 7px;
}

